html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 56px;
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

h1 {
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

i{
  vertical-align: bottom;
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
  padding: 40px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Signin page CSS
-------------------------------------------------- */
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  max-height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 32rem;
}

/*
 *  Items
 * /
 /*
  * Dummy devices (replace them with your own or something else entirely!)
  */

 .product-device {
   position: absolute;
   right: 10%;
   bottom: -30%;
   width: 300px;
   height: 540px;
   background-color: #333;
   border-radius: 21px;
   -webkit-transform: rotate(30deg);
   transform: rotate(30deg);
 }

 .product-device::before {
   position: absolute;
   top: 10%;
   right: 10px;
   bottom: 10%;
   left: 10px;
   content: "";
   background-color: rgba(255, 255, 255, .1);
   border-radius: 5px;
 }

 .product-device-2 {
   top: -25%;
   right: auto;
   bottom: 0;
   left: 5%;
   background-color: #e5e5e5;
 }


 /*
  * Extra utilities
  */

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: var(--secondary);
  }

  .nav-underline .nav-link:hover {
    color: var(--blue);
  }

  .nav-underline .active {
    font-weight: 500;
    color: var(--gray-dark);
  }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
 @media (min-width: 768px) {
   .flex-md-equal > * {
     -ms-flex: 1;
     -webkit-box-flex: 1;
     flex: 1;
   }
 }

 .overflow-hidden { overflow: hidden; }
